*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}
/* LOGIN CSS */

#loginBody{
    background: url('../images/login-background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.loginHeader{
    text-align: center; 
    margin-bottom: 150px;
}

.loginHeader h1{
    font-size: 100px;
    color: #22a853;
    padding: 0px;
    margin: 0px;
    margin-top: 50px;
}

.loginHeader p{
    color: #9cce75;
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
    display: inline-block;
}

.loginHeader p:after{
    content: '';
    display: block;
    height: 5px;
    background: #649037;
    margin: 0 auto;
}

.loginBody form{
    margin: 0 auto;
    width: 400px;
    background: rgba(0,0,0,.5);
    padding: 50px;
    border: 3px solid white;
    border-radius: 8px;
}

.loginInputsContainer{
    margin-top: 20px;
}

.loginInputsContainer label{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.loginInputsContainer input{
    height: 25px;
    width: 100%;
    border: 2px solid #fac819;
    font-size: 20px;
    padding: 5px;
    text-align: left;
    font-style: italic;
}

.loginButtonContainer{
    margin-top: 40px;
    text-align: center;
}

.loginButtonContainer button{
    font-size: 20px;
    padding: 10px 40px;
    background: #649037;
    border: none;
    color: #f3c21f;
}

/* DASHBOARD CSS */

ul {
    list-style-type: none;
  }

#dashboardMainContainer{
    display: flex;
    flex-direction: row;
}

.dashboard_sidebar{
    width: 20%;
    background: #323232;
    height: 100vh;
}

.dashboard_content_container{
    width: 80%;
    background: #f4f6f9;
}

.dashboard_logo{
    color: #649037;
    font-size: 80px;
    text-align: center;
}

.dashboard_sidebar_user{
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffff;
}

.dashboard_sidebar_user img{
    width: 80px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #649037;
    margin-right: 5px;
    vertical-align: middle;
}

.dashboard_sidebar_user span{
    text-transform: uppercase;
    color: #ffff;
    font-size: 18px;
}

.dashboard_sidebar_user p{
    text-transform: uppercase;
    color: #ffff;
    font-size: 18px;
}

ul.dashboard_menu_lists{
    padding: 1px;
    margin-top: 20px;
}

ul.dashboard_menu_lists li{
    padding: 15px 15px;
    font-size: 20px;
    text-transform: uppercase;
}

ul.dashboard_menu_lists li a{
    text-decoration: none;
    color: #ffff;
    height: 100%;
    display: block;
}

ul.dashboard_menu_lists li i{
    font-size: 25px;
}

ul.dashboard_menu_lists li:hover{
    background: #649037;
    color: #ffff;
    transition: 0.3s all;
}

ul.dashboard_menu_lists li.menuActive{
    background: #649037;
    color: #ffff;
}

.dashboard_topNav{
    background: #ffff;
    padding: 20px;
}

.dashboard_topNav a{
    color: #848383;
    font-size: 18px;
    text-decoration: none;
}

#logoutBtn{
    float: right;
}

.dashboard_content{
    padding: 50px 10px 10px 10px;
}

.dashboard_content_main{
    background: #fff;
    min-height: 800px;
    height: 100%;
}

/*ADD USER  */

form::after{
    content: '';
    clear: both;
    display: block;
}

.appForm{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #649037;
    border-radius: 5px;
    background: #f4f6f9;
}

form label{
    font-weight: bold;
    text-transform: uppercase;
}

.appFormInput{
    width: 100%;
    height: 33px;
    border: 1px solid #d6d7da;
    border-radius: 5px;
}

.appFormInputContainer{
    margin-bottom: 15px;
}

#userAddFormContainer{
    padding-top: 50px;
}

.appBtn{
    background: #649037;
    border: 1px solid #9cce75;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    float: right;
}

.responseMessage{
    font-size: 15px;
    text-align: center;
    margin-top: 33px;
    background: rgba(0, 128, 0, 0.1);
    padding: 20px;
}

.responseMessage_error{
    background: rgba(128, 0, 0, 0.1);
}

.responseMessage_success{
    background: rgba(0, 128, 0, 0.1);
}


/* USER ADD PAGE */
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column{
    width: 100%;
    padding: 0px 10px;
}

.column-5{
    width: 41.67%;
}

.column-7{
    width: 58.33%;
}

.section_header{
    font-size: 21px;
    color: #649037;
    border-bottom: 1px solid #97bd8c;
    padding-bottom: 11px;
    padding: 10px;
    border-left: 4px solid #649037;
    margin-bottom: 15px;
}

/* EXISTING USERS */

table, th,td{
    border: 1px solid #cacaca;
    border-collapse: collapse;
    font-size: 15px;
}

table{
    width: 100%;
}

table th{
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    background: #f4f6f9;
}

table td{
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

.user_count{
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #649037;
}