*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}
/* LOGIN CSS */

#loginBody{
    background: url('../images/login-background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.loginHeader{
    text-align: center; 
    margin-bottom: 150px;
}

.loginHeader h1{
    font-size: 100px;
    color: #22a853;
    padding: 0px;
    margin: 0px;
    margin-top: 50px;
}

.loginHeader p{
    color: #9cce75;
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
    display: inline-block;
}

.loginHeader p:after{
    content: '';
    display: block;
    height: 5px;
    background: #649037;
    margin: 0 auto;
}

.loginBody form{
    margin: 0 auto;
    width: 400px;
    background: rgba(0,0,0,.5);
    padding: 50px;
    border: 3px solid white;
    border-radius: 8px;
}

.loginInputsContainer{
    margin-top: 20px;
}

.loginInputsContainer label{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.loginInputsContainer input{
    height: 25px;
    width: 100%;
    border: 2px solid #fac819;
    font-size: 20px;
    padding: 5px;
    text-align: left;
    font-style: italic;
}

.loginButtonContainer{
    margin-top: 40px;
    text-align: center;
}

.loginButtonContainer button{
    font-size: 20px;
    padding: 10px 40px;
    background: #649037;
    border: none;
    color: #f3c21f;
}

/* DASHBOARD CSS */

ul {
    list-style-type: none;
  }

#dashboardMainContainer{
    display: flex;
    flex-direction: row;
}

.dashboard_sidebar{
    width: 20%;
    background: #323232;
}

.dashboard_content_container{
    width: 80%;
    background: #f4f6f9;
}

.dashboard_logo{
    color: #649037;
    font-size: 80px;
    text-align: center;
}

.dashboard_sidebar_user{
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffff;
}

.dashboard_sidebar_user img{
    width: 80px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #649037;
    margin-right: 5px;
    vertical-align: middle;
}

.dashboard_sidebar_user span{
    text-transform: uppercase;
    color: #ffff;
    font-size: 18px;
}

.dashboard_sidebar_user p{
    text-transform: uppercase;
    color: #ffff;
    font-size: 18px;
}

ul.dashboard_menu_lists{
    padding: 1px;
    margin-top: 20px;
}

ul.dashboard_menu_lists li.liMainMenu{
    padding-top: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

ul.dashboard_menu_lists li.liMainMenu a{
    text-decoration: none;
    color: #ffff;
    height: 100%;
    display: block;
    padding: 0px 15px;
    padding-right: 5px;
    padding-bottom: 15px;
}

ul.dashboard_menu_lists li.liMainMenu a i{
    font-size: 40px !important;
    width: 30px !important;
}

ul.dashboard_menu_lists li:hover{
    background: #649037;
    color: #ffff;
    transition: 0.3s all;
}

ul.dashboard_menu_lists li.menuActive{
    background: #649037;
    color: #ffff;
}

.dashboard_topNav{
    background: #ffff;
    padding: 20px;
}

.dashboard_topNav a{
    color: #848383;
    font-size: 18px;
    text-decoration: none;
}

#logoutBtn{
    float: right;
}

.dashboard_content{
    padding: 50px 10px 10px 10px;
}

.dashboard_content_main{
    background: #fff;
    min-height: 800px;
    height: 100%;
    border: 1px solid #4d7326;
    padding-left: 20px;
    padding-bottom: 26px;
}

/*ADD USER  */

form::after{
    content: '';
    clear: both;
    display: block;
}

.appForm{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #649037;
    border-radius: 5px;
    background: #f4f6f9;
}

form label{
    font-weight: bold;
    text-transform: uppercase;
}

.appFormInput{
    width: 100%;
    height: 33px;
    border: 1px solid #d6d7da;
    border-radius: 5px;
}

.appFormInputContainer{
    margin-bottom: 15px;
}

#userAddFormContainer{
    padding-top: 50px;
}

.appBtn{
    background: #649037;
    border: 1px solid #9cce75;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    float: right;
}

.responseMessage{
    font-size: 15px;
    text-align: center;
    margin-top: 33px;
    background: rgba(0, 128, 0, 0.1);
    padding: 20px;
}

.responseMessage_error{
    background: rgba(128, 0, 0, 0.1);
}

.responseMessage_success{
    background: rgba(0, 128, 0, 0.1);
}


/* USER ADD PAGE */
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column{
    width: 100%;
    padding: 0px 10px;
}

.column-5{
    width: 41.67%;
}

.column-7{
    width: 58.33%;
}

.section_header{
    font-size: 21px;
    color: #649037;
    border-bottom: 1px solid #97bd8c;
    padding-bottom: 11px;
    padding: 10px;
    border-left: 4px solid #649037;
    margin-bottom: 15px;
}

/* EXISTING USERS */

table, th,td{
    border: 1px solid #cacaca;
    border-collapse: collapse;
    font-size: 15px;
}

table{
    width: 100%;
}

table th{
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    background: #f4f6f9;
    padding: 10px;
}

table td{
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

.product_count{
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #649037;
}

.user_count{
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #649037;
}

.updateUser, .deleteUser{
    display: block;
}

.subMenuLink{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-transform: none;
}

.subMenus{
    background: #649037;
    display: none;
    margin: 0px -40px;
    font-size: 18px;
}

.mainMenuIconArrow{
    float: right;
    font-size: 18px;
    margin-top: 3px;
    margin-right: 4px;
}

.circle{
    font-size: 15px;
}

.subMenuActive{
    font-weight: bold;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background: #4d7326;
}

.productTextAreaInput{
    width: 100%;
    height: 75px;
    border-radius: 5px;
    border-color: #d6d7da;
}

#categorySelect #products{
    display: block;
    width: 100%;
    border-color: #d2d2d2;
}

#productSelect{
    display: block;
    width: 100%;
    height: 100px;
    border-color: #d2d2d2;
}


.orderProductBtn{
    background: #4d7326;
    color: #fff;
}

.submitOrderProductBtn{
    background: #323232;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 9px;
}

.orderBtn{
    height: 33px;
    border: none;
    padding: 2px 10px;
    border-radius: 4px;
    font-size: 16px;
}

.removeOrderBtn{
    background: #ff5858;
    color: #fff;
    border: none;
    padding: 4px 8px;
    border-radius: 2px;
    float: right;
}

.alignRight{
    text-align: right;
}

.marginTop20{
    margin-top: 20px;
}

.productNameSelect{
    border: none;
    background: #fafafa;
    padding: 3px 17px;
    border: 1px solid #b0b0b0;
    border-radius: 2px;
}

.orderProductRow{
    padding: 6px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 25px;
    padding-top: 15px;
}

.orderProductQty{
    height: 27px;
    border: none;
    background: #f8f8f8;
    text-indent: 10px;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
}

#orderProductLists .row{
    margin: 0px !important; 
}

.categoryRows .categoryName{
    margin-left: 12px;
    font-size: 15px;
    font-weight: bold;
    color: #a1a1a1;
    text-transform: uppercase;
}

.categoryRows .row{
    padding: 8px 0px;
}

.poList{
    margin-bottom: 25px;
    padding: 15px;
    border-bottom: solid 1px #d1d1d1;
    border-radius: 5px;
    background: #fbfbfb;
}

.poList p{
    font-weight: bold;
    text-transform: uppercase;
    color: #4d7326;
    font-size: 16px;
}

.poList table td, .poList table th{
    border: none;
    border-bottom: 1px dotted #b7b7b7;
}

.poList table td{
    padding: 13px 14px;
    font-size: 14px;
}

.poList table th{
    padding: 15px 10px;
}

.poList table{
    border: none;
}

.updatePoBtn{
    color: #22a853;
    background: #fff;
    border: 1px solid #22a853;
    margin-top: 15px;
}

.updatePoBtn:hover{
    background: #22a853;
    color: #fff;
}

.po-badge{
    padding: 4px 6px;
    border: 1px solid;
}


.po-badge-pending{
    background: #ff7c76;
    border-color: #556455;
    text-transform: capitalize;
}

.po-badge-complete{
    background: #b5ebb5;
    border-color: green;
    text-transform: capitalize;
}

.po-badge-incomplete{
    background: #f7e640;
    color: #392b2b;
    border-color: #a3a3a3;
    text-transform: capitalize;
}

.alignLeft{
    text-align: left;
}

.modal-content{
    width: 800px;
}